USE [master]
GO
/****** Object:  Database [AppCooking]    Script Date: 25.02.2026 12:51:08 ******/
CREATE DATABASE [AppCooking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppCooking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\AppCooking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AppCooking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\AppCooking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppCooking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppCooking]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25.02.2026 12:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authorities]    Script Date: 25.02.2026 12:51:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authorities](
	[IdAuthor] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[AuthorSpecialization] [nvarchar](50) NOT NULL,
	[AuthorCountry] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Authorities] PRIMARY KEY CLUSTERED 
(
	[IdAuthor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 25.02.2026 12:51:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[IdIngredient] [int] IDENTITY(1,1) NOT NULL,
	[IngredientName] [nvarchar](50) NOT NULL,
	[IngredientDescription] [nvarchar](100) NOT NULL,
	[Calories] [int] NOT NULL,
	[IdCategoryIngredient] [int] NOT NULL,
 CONSTRAINT [PK_Ingredients] PRIMARY KEY CLUSTERED 
(
	[IdIngredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeIngredients]    Script Date: 25.02.2026 12:51:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeIngredients](
	[IdRecipeIngredients] [int] IDENTITY(1,1) NOT NULL,
	[IdIngredient] [int] NOT NULL,
	[IdRecipe] [int] NOT NULL,
	[Note] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RecipeIngredients] PRIMARY KEY CLUSTERED 
(
	[IdRecipeIngredients] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 25.02.2026 12:51:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[IdRecipe] [int] IDENTITY(1,1) NOT NULL,
	[RecipeName] [nvarchar](50) NOT NULL,
	[RecipeDescription] [nvarchar](200) NOT NULL,
	[RecipeImage] [nvarchar](max) NOT NULL,
	[RecipeDate] [datetime2](7) NOT NULL,
	[IdRecipeType] [int] NOT NULL,
	[IdAuthor] [int] NULL,
 CONSTRAINT [PK_Recipes] PRIMARY KEY CLUSTERED 
(
	[IdRecipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeTypes]    Script Date: 25.02.2026 12:51:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeTypes](
	[IdRecipeType] [int] IDENTITY(1,1) NOT NULL,
	[RecipeTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RecipeTypes] PRIMARY KEY CLUSTERED 
(
	[IdRecipeType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25.02.2026 12:51:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.02.2026 12:51:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260218125536_Initial Migration', N'9.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260219072254_UpdateUser', N'9.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260224070224_updateq', N'9.0.13')
GO
SET IDENTITY_INSERT [dbo].[Authorities] ON 

INSERT [dbo].[Authorities] ([IdAuthor], [AuthorName], [Age], [AuthorSpecialization], [AuthorCountry]) VALUES (1, N'Бадма Цеденов', 45, N'Приготовление супов', N'Калмыкия')
INSERT [dbo].[Authorities] ([IdAuthor], [AuthorName], [Age], [AuthorSpecialization], [AuthorCountry]) VALUES (2, N'Гиляна Манджиева', 38, N'Приготовление вторых блюд', N'Калмыкия')
INSERT [dbo].[Authorities] ([IdAuthor], [AuthorName], [Age], [AuthorSpecialization], [AuthorCountry]) VALUES (3, N'Сергей Басхаев', 52, N'Приготовление мучных блюд', N'Калмыкия')
SET IDENTITY_INSERT [dbo].[Authorities] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingredients] ON 

INSERT [dbo].[Ingredients] ([IdIngredient], [IngredientName], [IngredientDescription], [Calories], [IdCategoryIngredient]) VALUES (1, N'Баранина', N'Мясо молодого барашка, основа многих калмыцких блюд', 210, 2)
INSERT [dbo].[Ingredients] ([IdIngredient], [IngredientName], [IngredientDescription], [Calories], [IdCategoryIngredient]) VALUES (2, N'Конина', N'Мясо лошади, традиционное для калмыцкой кухни', 180, 2)
INSERT [dbo].[Ingredients] ([IdIngredient], [IngredientName], [IngredientDescription], [Calories], [IdCategoryIngredient]) VALUES (3, N'Мука пшеничная', N'Для приготовления борцоков и лепешек', 340, 4)
SET IDENTITY_INSERT [dbo].[Ingredients] OFF
GO
SET IDENTITY_INSERT [dbo].[RecipeIngredients] ON 

INSERT [dbo].[RecipeIngredients] ([IdRecipeIngredients], [IdIngredient], [IdRecipe], [Note]) VALUES (1, 1, 1, N'500 г')
INSERT [dbo].[RecipeIngredients] ([IdRecipeIngredients], [IdIngredient], [IdRecipe], [Note]) VALUES (2, 8, 1, N'2 шт')
INSERT [dbo].[RecipeIngredients] ([IdRecipeIngredients], [IdIngredient], [IdRecipe], [Note]) VALUES (3, 14, 1, N'3 шт')
SET IDENTITY_INSERT [dbo].[RecipeIngredients] OFF
GO
SET IDENTITY_INSERT [dbo].[Recipes] ON 

INSERT [dbo].[Recipes] ([IdRecipe], [RecipeName], [RecipeDescription], [RecipeImage], [RecipeDate], [IdRecipeType], [IdAuthor]) VALUES (1, N'Махан шeлн (мясной суп)', N'Традиционный калмыцкий суп из баранины с луком и специями. Подается в горячем виде, очень сытный и наваристый.', N'mahanshuln.jpg', CAST(N'2026-02-25T12:17:14.8800000' AS DateTime2), 1, 1)
INSERT [dbo].[Recipes] ([IdRecipe], [RecipeName], [RecipeDescription], [RecipeImage], [RecipeDate], [IdRecipeType], [IdAuthor]) VALUES (2, N'Бёрики (калмыцкие пельмени)', N'Крупные пельмени из пресного теста с рубленым мясом и большим количеством лука. Подаются с бульоном или сметаной.', N'beriki.jpg', CAST(N'2026-02-25T12:17:14.8800000' AS DateTime2), 2, 2)
INSERT [dbo].[Recipes] ([IdRecipe], [RecipeName], [RecipeDescription], [RecipeImage], [RecipeDate], [IdRecipeType], [IdAuthor]) VALUES (3, N'Борцоки', N'Традиционные калмыцкие мучные изделия из дрожжевого теста, жареные в масле. Имеют различную форму: солнышко, баранья голова, цветок.', N'borcoki.jpg', CAST(N'2026-02-25T12:17:14.8800000' AS DateTime2), 3, 3)
SET IDENTITY_INSERT [dbo].[Recipes] OFF
GO
SET IDENTITY_INSERT [dbo].[RecipeTypes] ON 

INSERT [dbo].[RecipeTypes] ([IdRecipeType], [RecipeTypeName]) VALUES (1, N'Первое блюдо (супы, похлебки)')
INSERT [dbo].[RecipeTypes] ([IdRecipeType], [RecipeTypeName]) VALUES (2, N'Второе блюдо')
INSERT [dbo].[RecipeTypes] ([IdRecipeType], [RecipeTypeName]) VALUES (3, N'Мучные изделия')
SET IDENTITY_INSERT [dbo].[RecipeTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRole], [RoleName]) VALUES (1, N'admin')
INSERT [dbo].[Roles] ([IdRole], [RoleName]) VALUES (2, N'user')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([IdUser], [Login], [Password], [Name], [Age], [IdRole]) VALUES (2, N'admin', N'admin', N'admin', 34, 1)
INSERT [dbo].[Users] ([IdUser], [Login], [Password], [Name], [Age], [IdRole]) VALUES (4, N'user', N'user', N'user', 23, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_RecipeIngredients_IdIngredient]    Script Date: 25.02.2026 12:51:09 ******/
CREATE NONCLUSTERED INDEX [IX_RecipeIngredients_IdIngredient] ON [dbo].[RecipeIngredients]
(
	[IdIngredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecipeIngredients_IdRecipe]    Script Date: 25.02.2026 12:51:09 ******/
CREATE NONCLUSTERED INDEX [IX_RecipeIngredients_IdRecipe] ON [dbo].[RecipeIngredients]
(
	[IdRecipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Recipes_IdAuthor]    Script Date: 25.02.2026 12:51:09 ******/
CREATE NONCLUSTERED INDEX [IX_Recipes_IdAuthor] ON [dbo].[Recipes]
(
	[IdAuthor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Recipes_IdRecipeType]    Script Date: 25.02.2026 12:51:09 ******/
CREATE NONCLUSTERED INDEX [IX_Recipes_IdRecipeType] ON [dbo].[Recipes]
(
	[IdRecipeType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_IdRole]    Script Date: 25.02.2026 12:51:09 ******/
CREATE NONCLUSTERED INDEX [IX_Users_IdRole] ON [dbo].[Users]
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Age]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IdRole]
GO
ALTER TABLE [dbo].[RecipeIngredients]  WITH CHECK ADD  CONSTRAINT [FK_RecipeIngredients_Ingredients_IdIngredient] FOREIGN KEY([IdIngredient])
REFERENCES [dbo].[Ingredients] ([IdIngredient])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecipeIngredients] CHECK CONSTRAINT [FK_RecipeIngredients_Ingredients_IdIngredient]
GO
ALTER TABLE [dbo].[RecipeIngredients]  WITH CHECK ADD  CONSTRAINT [FK_RecipeIngredients_Recipes_IdRecipe] FOREIGN KEY([IdRecipe])
REFERENCES [dbo].[Recipes] ([IdRecipe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecipeIngredients] CHECK CONSTRAINT [FK_RecipeIngredients_Recipes_IdRecipe]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_Authorities_IdAuthor] FOREIGN KEY([IdAuthor])
REFERENCES [dbo].[Authorities] ([IdAuthor])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_Authorities_IdAuthor]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_RecipeTypes_IdRecipeType] FOREIGN KEY([IdRecipeType])
REFERENCES [dbo].[RecipeTypes] ([IdRecipeType])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_RecipeTypes_IdRecipeType]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_IdRole] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Roles] ([IdRole])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_IdRole]
GO
USE [master]
GO
